
:root {
    --purple-color: #4e2a84;
    --pink-color: #ff0e83;
}
header {
    background-color: var(--purple-color);
    padding: 20px 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav {
    margin: auto;
    display: block;
    flex-basis: 70%;
    align-items: center;
}

    .header__nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

        .header__nav ul li {
            display: inline;
            margin: 0 10px;
        }

        .header__nav ul a,
        .header__nav ul i {
            text-decoration: none;
            color: white;
            font-size: .9rem;
            font-weight: 510;
            letter-spacing: 2px;
            transition: all .5s;
            margin: 0 10px;
        }


        .header__nav ul i {
            font-size: 1rem;
        }




        .header__nav ul li:hover i,
        .header__nav ul li:hover a {
            color: var(--pink-color);
        }

        .header__nav ul .active a {
            color: var(--pink-color);
        }

        .header__nav ul a:hover {
            color: var(--pink-color);
        }
.header__logo {
    height: 4.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6rem;
}

    .header__logo span:first-of-type {
        visibility: hidden;
    }

.header__body {
    margin: auto;
    margin-bottom: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

    .header__body p {
        color: white;
        font-size: 1.8rem;
        margin: 1.2rem 0 0 4rem;
    }

    .header__body span {
        font-weight: 710;
    }

.header__search input {
    width: 45rem;
    margin-top: 1rem;
    padding: 14px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1.05rem;
}

.header__search {
    display: flex;
}

    .header__search button {
        background-color: var(--pink-color);
        height: 2.95rem;
        margin-top: 1rem;
        border-radius: 0 5px 5px 0;
        border: 2px solid white;
        padding: 13px 32px;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all .5s;
        margin-right: 2.5rem;
    }

        .header__search button:hover {
            background-color: white;
            border-color: var(--pink-color);
        }


.car__shopping a i {
    color: white;
    padding-top: 1.8rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

    .car__shopping a i:hover {
        color: var(--pink-color);
        transition: all .7s;
    }

.cart__number {
    position: absolute;
    padding: 1px 4.5px;
    top: 54px;
    right: 90px;
    font-size: .9rem;
    line-height: 14px;
    border-radius: 10px;
    border: var(--purple-color) 2px solid;
    color: white;
    background-color: var(--pink-color);
}



/* Body */
body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: rgba(255, 247, 247, 0.624);
    letter-spacing:  1px;
    margin: 0;
}

.containt-about-us{
    margin-top:0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
}

    .containt-about-us h1 {
        font-size: 50px;
        font-weight: 600;
        color: #4e2a84;
    }

    .content-about-us, .image {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }

.content-about-us {
    width: 40%;
    padding-top: 30px;
    height: 200px;
    text-align: left; /* Căn trái nội dung văn bản */
}


.image {
    margin-top:34px;
    width: 20%;
    height: 150px; /* Chiều cao cố định cho khối hình ảnh */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.our-history{
    width: 100%;
    text-align: center;
    
}

.our-history-content {
    display: block;
    width: 60%; 
    background-color: #fff;
    padding: 20px;
    margin: 10px auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}

    .our-history-content h2 {
        text-align:center;
        font-size: 50px;
        font-weight: 600;
        color: #4e2a84;
    }
    /* NUMBER  */
    .number {
        padding: 3rem 0 3rem;
    }

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-of-type {
    font-size: 2rem;
    color: var(--purple-color);
    font-weight: 700;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px;
}

/* TESTIMONIALS  */
.testimonials {
    background-image: url('441507721_1176483493475367_8078579292437295328_n.jpg');
    background-size: contain;
    padding: 70px 0;
}

    .testimonials h2 {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
        text-align: center;
        letter-spacing: 2px;
    }

.testimonials__content {
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--purple-color);
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    padding: 32px;
}

    .testimonials__content i {
        font-size: 1.3rem;
        color: #2cbeff;
        padding: 0 18px;
    }

    .testimonials__content p:last-of-type {
        color: var(--purple-color);
        line-height: 30px;
        letter-spacing: 1.3px;
    }

footer {
    background-color: black;
    padding: 50px 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footer__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer__item {
    width: 25%;
    padding: 0 20px;
}

.footer__item-link {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

    .footer__item-link:hover,
    .item__link:hover {
        color: var(--pink-color);
    }

.footer__item h3 {
    color: var(--pink-color);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer__item p {
    font-size: 1rem;
    line-height: 28px;
    padding-bottom: 1rem;
}

.footer__social i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 25px 5px;
    transition: all .5s;
    margin-right: 10px;
}

.footer__social a {
    color: white;
}

.footer__social i:hover {
    color: var(--pink-color);
    border-color: var(--pink-color);
}

.footer__time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}

    .footer__time p {
        margin: 10px 0;
        padding: 0;
    }

.footer__item .footer__sub input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

    .footer__item .footer__sub input:focus {
        outline: none;
    }

.footer__item .footer__sub button {
    color: rgb(86, 12, 12);
    padding: 7px 16px;
    border-color: black;
    font-weight: 700;
    margin: 10px 0 24px;
    background-color: #ff0e83;
}

.footer__sub button:hover {
    color: white;
    background-color: black;
    transition: all .7s;
}

.footer__item .error {
    color: rgb(147, 147, 255);
}

.footer__coppyright {
    text-align: center;
    font-size: 1.1rem;
}

    .footer__coppyright span {
        color: var(--pink-color);
    }