:root {
    --purple-color:#4e2a84;
    --pink-color: #ff0e83;
    --pink-color-hover:#f34498;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: 50%;
    position: relative;
    left: 50%;
    margin: 30px;
    padding: 10px;
    transform: translateX(-50%);
    border: 2px solid rgb(235, 229, 229);
    background-color: rgb(250, 244, 244);
    box-shadow: 0px 0px 8px rgb(64, 65, 64);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart-container h1{
    color: #4e2a84;
}

.table{
    position:relative;
    width: auto;
    justify-content: center;
    align-items: center;
}



.cart-container {
    width: 80%;
    margin: 20px auto;
    
}

.close-btn{
    position: absolute;
    top:0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    border: none;
}

.close-btn:hover{
    background-color: red;
    
}


.cart-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    right:50%;
    background-color: gainsboro;
    border-bottom: none;
    
}

.cart-table th, .cart-table td {
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #ae7afc;
}

.cart-product {
    display: flex;
    align-items: center;
    
}

.cart-product img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.remove-btn {
    background-color: gainsboro;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cover{
    
    display: flex;
    justify-content: flex-end;
    
}

.cart-total {
    padding-top: 15px;
    border-top: 2px solid #ff0e83;
    width: 300px;
    margin-top: 15px;
    display: block ;
    text-align: left;
}

      
.cart-total h2 {
    margin-bottom: 10px;
}
    
.cart-total p {
        margin: 0px 0;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
}
        
.cart-total span{
            position: absolute;
            font-weight: 500;
            right: 15px;
}
.checkout-btn {
    background-color: var(--purple-color);
    color: white;
    border: 2px solid  #ae7afc;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 20px;
}

.checkout-btn:hover {
    background-color: white;
  
    border-radius: 5px;
    color: #ae7afc;
}


.remove-btn i{
    color: black;
}