:root {
    --purple-color:#4e2a84;
    --pink-color: #ff0e83;
    --pink-color-hover:#f34498;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: rgba(255, 247, 247, 0.624);
    letter-spacing: 1px;
}

/* CSS HEADER */
header {
    background-color: var(--purple-color);
    padding-bottom:10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav {
    margin: auto;
    display: block;
    flex-basis: 70%;
    align-items: center;
}

    .header__nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

        .header__nav ul li {
            display: inline;
            margin: 0 10px;
        }

        .header__nav ul a,
        .header__nav ul i {
            text-decoration: none;
            color: white;
            font-size: .9rem;
            font-weight: 510;
            letter-spacing: 2px;
            transition: all .5s;
            margin: 0 10px;
        }


        .header__nav ul i {
            font-size: 1rem;
        }




        .header__nav ul li:hover i,
        .header__nav ul li:hover a {
            color: var(--pink-color);
        }

        .header__nav ul .active-header a {
            color: var(--pink-color);
            font-size:1rem;
            font-weight:610;
        }

        .header__nav ul a:hover {
            color: var(--pink-color);
        }

/* HEADER SEARCH */
.header__logo {
    height: 4.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 6rem;
}

.header__logo span:first-of-type {
        visibility: hidden;
    }

.header__body {
    margin: auto;
    margin-bottom: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

    .header__body p {
        color: white;
        font-size: 1.8rem;
        margin: 1.2rem 0 0 4rem;
    }

    .header__body span {
        font-weight: 710;
    }

.header__search input {
    width: 45rem;
    margin-top: 0.6rem;
    padding: 14px;
    border-radius: 5px 0 0 5px;
    border: none;
    font-size: 1.05rem;
}

.header__search {
    display: flex;
}

.header__search button {
        background-color: var(--pink-color);
        height: 2.95rem;
        margin-top: 0.6rem;
        border-radius: 0 5px 5px 0;
        border: 2px solid white;
        padding: 13px 32px;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all .5s;
        margin-right: 2.5rem;
    }

.header__search button:hover {
            background-color: white;
            border-color: var(--pink-color);
        }


.car__shopping a i {
    color: white;
    padding-top: 1.5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.car__shopping a i:hover {
        color: var(--pink-color);
        transition: all .7s;
    }

.cart__number {
    position: absolute;
    padding: 1px 4.5px;
    top: 54px;
    right: 90px;
    font-size: .9rem;
    line-height: 14px;
    border-radius: 10px;
    border: var(--purple-color) 2px solid;
    color: white;
    background-color: var(--pink-color);
}

/* SLIDE SHOW */

.slide-show-img {
    margin-top: 150px;
    margin-bottom: 5px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide-show {
    width: 100%;
    overflow: hidden;
}

.list-images {
    display: flex;
    transition: 0.5s;
}

.img {
    min-width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.btn:hover {
    color: black;
}

.btn {
    font-size: 40px;
    color: #999;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right:10px;

}

.index-images {
    position: absolute ;
    bottom: 3px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.index-items{
    padding: 5px;
    margin: 3px;
    border-radius: 50%;
    border: 2px solid #999;
}

.active {
    background-color: #999;

}

/* CATELOGUE */
.grid{

    max-width: 100%;
    margin: 0 auto;

}

.grid__row{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
    justify-content: center;
}

/* .grid__column_2{
    flex: 0 0 calc(20% - 12px);
    position: relative;

} */

.grid__column_8{
    position:relative ;
    display: block;
    align-items: center;
    justify-content: center;
    
    flex: 0 0 calc(100% - 24px);
    left: 12px;
}

.container-catelogue{
    background-color: #f5f5f5;
    padding-top: 24px;
    border: 2px solid grey;
    padding-bottom: 24px;
}

.container-product{
    font-size: 30px;
    font-weight:550;
    color: var(--purple-color);
    align-items: center;
    text-align: center;
    background-color: #f5f5f5 ;
}

.container-product > span{
    font-size:50px;
    font-weight:500;
    /*background-color: var(--pink-color);
    color: #fff;
    padding: 15px;
    clip-path: polygon(100% 0 ,93% 50% , 100% 99% , 0% 100% , 7% 50% , 0% 0%) ;*/
}

.catelogue{
    border-radius: 2px;
    background-color: var(--while-color);
    position:sticky;
    position: -webkit-sticky;
    top :40px;
    z-index: 1000;
    border: 2px solid gainsboro;
    
}

.catelogue-heading{
    color: var(--purple-color);
    font-size: 1.7rem;
    padding:8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catelogue-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
}




.catelogue-list{
    padding:0 0 0px 0;
    list-style: none;

}

.catelogue-item {
    list-style: none;
    background-color: #f5f5f5;
    line-height: 40px;
}

.catelogue-item.active .catelogue-item-link{
    color: var(--pink-color);
}

.active .catelogue-item-link::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid #ff0e83;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    color: #ff0e83;
}

.catelogue-item-link{
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    position: relative;
    transition: right linear 0.1s;
    right: 0;

}

.catelogue-item-link:hover{
    right: -4px;
    color: blueviolet;
}

/* product */

.grid__column_8 .classify{
    width: 100%;
    margin-top: 30 px;
    display: flex;
    height: 100px;
    background-color: blue;

}

.grid__column_8 .classify .classify-products .classify-products-item{
    margin: 25px 0px 0 15px;
    display: inline-flex;
    justify-content: center;
    padding: 17px 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.grid__column_8 .classify .classify-products .classify-products-item:hover{
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .grid__column_8 .classify .classify-products .classify-products-item:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

.grid__column_8 .classify .classify-products .classify-products-item.active {
    background-color: rebeccapurple;
}

.grid__column_8 .classify .classify-products .classify-products-item.active a{
    color: wheat;
}

.grid__column_8 .classify .select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 12px;
    top: 30px;
    cursor: pointer;
}

.grid__column_8 .classify .select-input .select-input-label{
    font-size: 1.5rem;

}

.grid__column_8 .classify .select-input .select-input-icon{
    font-size: 1.5rem;
    position: relative;

}
.grid__column_8 .classify .select-input:hover .select-list,
.grid__column_8 .classify .select-input:focus .select-list {
    display: block;
}

.select-input :hover .select-list{
    display: block;
}


.grid__column_8 .classify .select-input .select-list{
    position:absolute;
    left: 0;
    right: 0;
    top:38px;
    margin: 0;
    border-radius: 2px;
    background-color:blueviolet;
    list-style: none;
    display: none;
}

.grid__column_8 .classify .select-input .select-list .select-input-link a{
    text-decoration: none;
    font-size: 1.4rem;
    color: aliceblue;
    display: block;
    padding: 4px 0;
}

.grid__column_8 .classify .select-input .select-list .select-input-link a:hover {
    color: red;
}


#best_sellers , #just_for_you , #new_products , #discounted_products{
    padding-left: 3%;
    background-color:#fff;
    text-align: left;
    line-height: 50px;
}

#best_sellers span{
    /* background: orange; */
    color: var(--purple-color);
    padding: 15px 20px;
    /* clip-path: polygon(100% 0 ,93% 50% , 100% 99% , 0% 100% , 7% 50% , 0% 0%) ; */
}

#just_for_you span{
    /* background: orange; */
    color: var(--purple-color);
    padding: 15px 20px;
    /* clip-path: polygon(100% 0 ,93% 50% , 100% 99% , 0% 100% , 7% 50% , 0% 0%) ; */
}

#new_products span{
    /* background: orange; */
    color: var(--purple-color);
    padding: 15px 20px;
    /* clip-path: polygon(100% 0 ,93% 50% , 100% 99% , 0% 100% , 7% 50% , 0% 0%) ; */
}

#discounted_products span{
    /* background: orange; */
    color: var(--purple-color);
    padding: 15px 20px;
    /* clip-path: polygon(100% 0 ,93% 50% , 100% 99% , 0% 100% , 7% 50% , 0% 0%) ; */
}

.grid__row-2{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;

}

.grid__column_25{
    position: relative;
    display: flex;
    /* flex: 0 0 calc(25%-24px); */
    width: 20%;
    padding-bottom: 8px ;   
}

/* product item */

.home-product-item{
    max-width: 100%;
    display: block;
    text-decoration: none;
    padding-bottom: 12px;
    background-color: var(--purple-color);
    position: relative;
    height: auto;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 20px rgba(8, 4, 245, 0.4);
}


.home-product-item-img{
    padding-top: 80%;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;


}
.home-product-item-name{
    width: 220px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 6px  10px 0 10px;
    color: white;
    height: 3rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.home-product-item-price {
    margin-top:15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item-price-old{
    font-size: 1.2rem;
    margin-left: 10px;
    color: #999;
    text-decoration: line-through;
}

.home-product-item-price-current{
    font-size: 1.3rem;
    color: white;
    margin-left: 10px;

}
.home-product-action{
    display: flex;
    justify-content: space-between;
    margin: 0 10px ;
    padding-bottom:5px;
    height: auto;

}
.home-product-rating {
    margin-top: 20px;
    color: #fece40;
}
.home-product-add {

    width: 70px;
    height: 40px;
    margin-top: 10px;
    background-color: var(--pink-color);
    border-radius: 10px;
    color: black;
}

.home-product-add:hover{
    background-color: var(--pink-color-hover) ;
    font-size: 15px;
    font-weight: 600;
}

.home-product-item-favourite{
    position: absolute;
    top: 20px;
    left: -5px;
    color: white;
    background-color: var(--pink-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding-right: 12px;

}

.home-product-item-favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid blueviolet;
    border-left: 4px solid transparent;
}

.home-product-item-favourite i{
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
}
.home-product-item-sale_off {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 45px;
    background-color: blueviolet;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.home-product-item-sale_off::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6.2px;
    border-width: 0 25px 8px;
    border-style: solid;
    border-color: transparent blueviolet transparent blueviolet;
}

.home-product-item-sale_off-percent{
    color: wheat;
    font-weight: 600;
    line-height: 1.4rem;
    font-size: 1rem;
    display: block;
}

.home-product-item-sale_off-label{
    color: #fff;
    font-size: 13px;
}





.inf-shop{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inf-shop-product{
    padding: 50px;
}

.inf-shop-product span{
    font-size: 40px;
    font-weight: 600;
    color: var(--purple-color);
}

.inf-shop-product span p{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

/* TESTIMONIALS CSS*/
/* NUMBER  */
.number {
    padding: 5px 0;
}

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-of-type {
    padding-bottom:0;
    font-size: 2rem;
    color: var(--purple-color);
    font-weight: 700;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px;
}

/* TESTIMONIALS  */
.testimonials {
    background-image: url('441507721_1176483493475367_8078579292437295328_n.jpg');
    background-size: contain;
    padding: 70px 0;
}

    .testimonials h2 {
        color: white;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
        text-align: center;
        letter-spacing: 2px;
    }

.testimonials__content {
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--purple-color);
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    padding: 32px;
}

    .testimonials__content i {
        font-size: 1.3rem;
        color: #2cbeff;
        padding: 0 18px;
    }

    .testimonials__content p:last-of-type {
        color: var(--purple-color);
        line-height: 30px;
        letter-spacing: 1.3px;
    }

/* FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    background-color: black;
    padding: 50px 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footer__main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer__item {
    width: 25%;
    padding: 0 20px;
}

.footer__item-link {
    text-decoration: none;
    color: white;
    transition: all .3s;
}

    .footer__item-link:hover,
    .item__link:hover {
        color: var(--pink-color);
    }

.footer__item h3 {
    color: var(--pink-color);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer__item p {
    font-size: 1rem;
    line-height: 28px;
    padding-bottom: 1rem;
}

.footer__social i {
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 25px 5px;
    transition: all .5s;
    margin-right: 10px;
}

.footer__social a {
    color: white;
}

.footer__social i:hover {
    color: var(--pink-color);
    border-color: var(--pink-color);
}

.footer__time {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}

    .footer__time p {
        margin: 10px 0;
        padding: 0;
    }

.footer__item .footer__sub input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

    .footer__item .footer__sub input:focus {
        outline: none;
    }

.footer__item .footer__sub button {
    color: rgb(86, 12, 12);
    padding: 7px 16px;
    border-color: black;
    font-weight: 700;
    margin: 10px 0 24px;
    background-color: #ff0e83;
}

.footer__sub button:hover {
    color: white;
    background-color: black;
    transition: all .7s;
}

.footer__item .error {
    color: rgb(147, 147, 255);
}

.footer__coppyright {
    text-align: center;
    font-size: 1.1rem;
}

    .footer__coppyright span {
        color: var(--pink-color);
    }














